geopandas==0.10.*
loguru==0.6.*
pytest==7.2.*
requests==2.27.*
rtree==1.0.*
pyproj==3.2.1
pyyaml==6.0.*
folium==0.13.0
pandas==1.4.*
shapely==1.8.*
importlib_metadata==4.11.*
numpy==1.21.*
parameterized==0.8.1