name: Upload Python Package

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        run: pipx install uv

      - name: Load cached venv
        id: cache-venv
        uses: actions/cache@v4
        with:
          path: .venv
          key: venv-${{ runner.os }}-py3.11-${{ hashFiles('**/uv.lock', '**/pyproject.toml') }}

      - name: Create virtual environment and install dependencies (if cache is missing)
        if: steps.cache-venv.outputs.cache-hit != 'true'
        run: |
          uv venv --python=3.11
          uv sync

      - name: Install dependencies (if cache was hit)
        if: steps.cache-venv.outputs.cache-hit == 'true'
        run: uv sync

      - name: Build package
        run: |
          uv build

      - name: Publish package
        uses: pypa/gh-action-pypi-publish@27b31702a0e7fc50959f5ad993c78deac1bdfc29
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
